version: "3"

services:
  
  postgres:
    image: postgres:16
    container_name: pg16_highload
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
      POSTGRES_DB: lab2_db_postgres
    volumes:
      - ./postgres_init:/docker-entrypoint-initdb.d/
      - './init_data:/data'
    networks:
      - lab2

  clickhouse:
    image: yandex/clickhouse-server:latest
    container_name: clickhouse_highload
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    networks:
      - lab2

  spark_master:
    image: jupyter/pyspark-notebook
    container_name: spark-master_highload
    hostname: spark-master
    command: /usr/local/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
    ports:
      - '8080:8080'
      - '7077:7077'
    volumes:
      - ./jars/postgresql-42.7.8.jar:/opt/spark/jars/postgresql-42.7.8.jar
      - ./jars/clickhouse-jdbc-0.4.6-all.jar:/opt/spark/jars/clickhouse-jdbc-0.4.6-all.jar
    networks:
      - lab2

  spark_worker:
    image: jupyter/pyspark-notebook
    container_name: spark-worker_highload
    hostname: spark-worker
    user: root
    command: /usr/local/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_DIR=/tmp/spark-work
      - SPARK_WORKER_CORES=4
      - SPARK_WORKER_MEMORY=4g
      - SPARK_WORKER_WEBUI_PORT=8081
    ports:
      - '8081:8081'
    volumes:
      - ./jars/postgresql-42.7.8.jar:/opt/spark/jars/postgresql-42.7.8.jar
      - ./jars/clickhouse-jdbc-0.4.6-all.jar:/opt/spark/jars/clickhouse-jdbc-0.4.6-all.jar
    depends_on:
      - spark_master
    networks:
      - lab2
      
  jupyter:
    image: jupyter/pyspark-notebook
    container_name: jupyter_highload
    environment:
      - SPARK_MASTER=spark-master:7077
      - JUPYTER_ENABLE_LAB=yes
      - SPARK_JARS=/opt/spark/jars/postgresql-42.7.8.jar
    ports:
      - "8890:8888" 
    volumes:
      - ./notebooks:/home/jovyan/work  
      - ./jars/postgresql-42.7.8.jar:/opt/spark/jars/postgresql-42.7.8.jar
      - ./jars/clickhouse-jdbc-0.4.6-all.jar:/opt/spark/jars/clickhouse-jdbc-0.4.6-all.jar
    depends_on:
      - spark_master
      - postgres
    networks:
      - lab2
      
volumes:
  clickhouse_data:
  
networks:
  lab2:
    driver: bridge


